@model IEnumerable<assignment.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SContact)
            </td>
           
        </tr>
}
    </tbody>
</table>
